/*-------------------------------------------------------------------------------------------*/
/* HEADER         ||---------------------------- */
/*-------------------------------------------------------------------------------------------*/

.top-head {
	background: #222;
}

.gray-light {
	background: #fafafa;
}
.social-top ul {
	margin: 3px 0 0;
	padding: 0px;
}
.fleg-top ul {
	margin: 0;
	padding: 0;
}
.social-top ul {
	margin-left: 20px;
}
.fleg-top ul li {
	list-style: none;
	display: inline-block;
	color: #fff;
	font-size: 14px;
}
.fleg-top ul li span {
	padding-left: 5px;
}
.search {
	position: relative;
	display: inline-block;
}

.search .bt-search {
	background: url(../images/search-icon.jpg) center 0 no-repeat;
	position: absolute;
	top: 10px;
	right: 13px;
	border: none;
	height: 15px;
}

.search input[type="text"] {
	width: 160px;
	border-radius: 13px;
	color: #222;
	border: none;
	outline: none;
	padding: 2px 23px 2px 10px;
	margin-bottom: 0;
}
.search input[type="button"] {
	background: url(../images/search-icon.jpg) center 0 no-repeat;
	position: absolute;
	top: 7px;
	right: 6px;
	border: none;
}
.social-top {
	float: right;
}
.social-top ul li {
	display: inline-block;
	border-right: 1px solid #fff;
	color: #fff;
	padding: 0px 7px;
	line-height: 10px;
}
.social-top ul li:last-child {
	border-right: none;
}
.social-top ul li a {
	color: #fff;
}
.rig-top {
	margin-top: 8px;
}
@media (max-width: 991px) {
	.rig-top {
		margin-top: 0;
	}
}
.rig-top ul {
	margin: 0px;
	padding: 0px;
}
.rig-top ul li {
	list-style: none;
	float: left;
}
.rig-top ul li div .pic {
	float: left;
	color: #222;
	line-height: 1;
}
.rig-top ul li div .pic i {
	font-size: 50px;
}

.rig-top ul li div .righ-text {
	float: right;
	padding-left: 15px;
	line-height: 1.5;
}

.rig-top ul li div .righ-text b {
	display: block;
	text-transform: uppercase;
	color:#222222;
	font-size: 15px;
}
.rig-top ul li div .righ-text span, .rig-top ul li div .righ-text span a {
	display: block;
	font-size: 14px;
	color: #444;
}
@media (max-width: 991px) {
	.rig-top ul li div .righ-text b, .rig-top ul li div .righ-text span, .rig-top ul li div .righ-text span a {
		font-size: 13px;
	}
}
.mail-top {
	padding: 0px 60px;
}

.top-menu {
	background:#2ecc71;
}

.navigation ul {
	float: left;
	margin: 0px;
	padding: 0px;
}
.navigation ul li {
	list-style: none;
	float: left;
	text-transform: uppercase;
	font-size: 16px;
	position: relative;
}

.navigation ul li a {
	text-decoration: none;
	color: #fff;
	padding:20px 22px 20px 22px;
	display: block;
	transition: all 0.3s;
	font-size: 14px;
}
@media (max-width: 1199px) and (min-width: 992px) {
	.navigation ul li a {
		padding: 22px 14px 14px 14px;
	}
}
.navigation > ul > li > a {
	border-bottom: 1px solid transparent;
	font-weight: 500;
}
.navigation > ul > li:hover > a {
	color: rgba(255, 255, 255, 0.78);
}
.quote-sec a {
	font-size: 18px;
	color: #fff;
	background:#007d35;
	line-height: 66px;
	text-transform: uppercase;
	padding: 0px 14px;
	cursor: pointer;
}
.quote-sec a:hover{
	color: #fff;
}
.navigation ul li a.active {
	color: #fff;
	border-bottom: 1px solid #2ecc71;
}

.navigation .sub-nav {
	left: 0;
	border-top: 20px solid transparent;
	position: absolute;
	top: 175%;
	width: 200px;
	z-index: 3;
	background-clip: padding-box;
	padding: 0;
	transition: top 0.3s ease 0s, visibility 0.2s ease 0.2s, opacity 0.2s ease 0.1s;
	-webkit-transition: top 0.3s ease 0s, visibility 0.2s ease 0.2s, opacity 0.2s ease 0.1s;
	-moz-transition: top 0.3s ease 0s, visibility 0.2s ease 0.2s, opacity 0.2s ease 0.1s;
	-ms-transition: top 0.3s ease 0s, visibility 0.2s ease 0.2s, opacity 0.2s ease 0.1s;
	-o-transition: top 0.3s ease 0s, visibility 0.2s ease 0.2s, opacity 0.2s ease 0.1s;
	opacity: 0;
	visibility: hidden;
	background-color:#2ecc71;
}
.navigation .sub-nav li {
	display: block;
	float: none;
	margin: 0;
	border-bottom:1px solid #01a546;
	padding-bottom: 0;
	position: relative;
}
.navigation li:hover .sub-nav {
	opacity: 1;
	top: 67%;
	transition: top 0.3s ease 0s;
	visibility: visible;
}
.navigation li.sub-menu .sub-nav {
	border: none;
	opacity: 0;
	top: 0;
	transition: top 0.3s ease 0s;
	visibility: visible;
	left: auto;
	right: 110%;
	visibility: hidden;
	transition: all 0.3s ease 0s;
}

.navigation li.sub-menu:hover .sub-nav {
	visibility: visible;
	opacity: 1;
	right: 100%;
	transition: all 0.3s ease 0s;
}
.navigation .sub-nav li a {
	padding: 8px 20px;
	display: block;
	color: #fff;
	font-size: 14px;
}

@media (min-width: 768px) and (max-width: 991px) {
	.mail-top {
		padding: 0px 19px;
	}
	.quote-sec a {
		font-size: 15px;
	}
	.navigation ul li {
		font-size: 14px;
	}

	.social-top ul {
		margin: 0px;
	}
}

@media (max-width: 991px) {
	.menu {
		border: none;
		border-bottom: 4px solid #fff;
		border-top: 4px solid #fff;
		height: 29px;
		position: absolute;
		right: 17px;
		top: 19px;
		width: 44px;
		background: none;
		z-index: 9;
	}
	.menu:after {
		position: absolute;
		top: 9px;
		right: 0;
		content: '';
		width: 100%;
		height: 4px;
		background: #fff;
	}

	.fleg-top ul {
		padding: 0px;
		text-align: center;
	}
	.social-top ul {
		padding: 0px 10px;
	}
	.respo-mob {
		display: block !important;
		margin-top: 10px;
		text-align: center;
	}

	.navigation {
		display: none;
		position: absolute;
		left: 0;
		top: 67px;
		width: 100%;
		z-index: 9;
		background: #2ecc71;
	}
	.header2 .navigation {
		background: #2ecc71;
	}
	.navigation ul {
		width: 100%;
	}
	.navigation ul li {
		float: none;
		display: block;
	}
	.rig-top ul li {
		padding-left: 10px;
	}
	.watch, .mail-top, .call {
		padding: 0px;
	}
	.rig-top ul li div .righ-text, .rig-top ul li div .pic {
		float: none;
		display: inline-block;
	}

	.social-top {
		float: none;
		margin-top: 10px;
		display: inline-block;
		width: 100%;
	}
	.navigation ul li a {
		padding: 12px 15px 9px;
		font-size: 14px;
	}
	.navigation > ul > li > a {
		border-bottom: 1px solid #fff;
	}
	.navigation > ul > li:hover > a {
		border-bottom: 1px solid #cacaca;
	}
	.navigation .ion-ios-plus-empty {
		position: absolute;
		top: 14px;
		right: 15px;
		pointer-events: none;
		color: #fff;
		font-size: 26px;
	}
	.navigation .sub-nav {
		position: static;
		opacity: 1;
		visibility: visible;
		width: 100%;
		border-top: none;
		transition: inherit;
		-webkit-transition: inherit;
		padding: 0;
		display: none;
		float: none;
	}
	.navigation .sub-nav li a {
		font-size: 13px;
	}
	.navigation .on > .ion-ios-plus-empty:before {
		content: '\f462';
		font-family: "Ionicons";
	}
}

.social-top ul li {
	border-right: 1px solid #fff;
}

#owl-demo .item img {
	display: block;
	width: 100%;
	height: auto;
}
